/*
 * @Author: Michael 
 * @Date: 2019-06-03 14:40:17 
 * @Last Modified by: Michael
 * @Last Modified time: 2019-06-04 13:48:53
 */

.user-info {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  .user-avatar {
    width: 200px;
    height: 200px;
    margin-top: 60px;
  }
}