/*
 * @Author: Michael 
 * @Date: 2019-06-03 14:46:56 
 * @Last Modified by: Michael
 * @Last Modified time: 2019-06-03 17:09:25
 */

.home {
  width: 1200px;
  margin: 0 auto;
  .base-content {
    display: flex;
    padding-top: 61px;
  }
}
