/*
 * @Author: Michael 
 * @Date: 2019-05-24 16:11:21 
 * @Last Modified by: Michael
 * @Last Modified time: 2019-05-24 16:11:45
 */

.reg-form {
  width: 260px;
  margin: 0 auto;
  .reg-form-button {
    width: 100%;
  }
}
