/*
 * @Author: Michael 
 * @Date: 2019-05-23 18:23:02 
 * @Last Modified by: Michael
 * @Last Modified time: 2019-05-24 16:11:33
 */

.login-form {
  width: 260px;
  margin: 0 auto;
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}
